@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#ae002e;
  --black:black;
  --font1:"Inter";
  --font2:"Overpass";
}


@layer components {

  html{
   background: linear-gradient(180deg, var(--primary) 0%, var(--black) 38%);
   height: 100%; 
  }
    body {
      @apply p-0 bg-ust-pattern;
      height: 100%;

    }

    .topNav{
      @apply pb-5 pt-6 px-2 flex justify-between;
    }

    #logoGenis{
      height: 36px;
    width: auto;
    margin:10px;
    }

    .city .city__control{
      @apply bg-transparent text-sm;
      min-height:10px;
    }

    .city .city__placeholder, .city .city__single-value{
      @apply text-white;
    }

    .city .city__indicator-separator{
      @apply hidden;
    }

    .city .city__dropdown-indicator{
      padding: 0 5px 0 0;
  }

  .city .city__value-container{
    @apply text-xs;

  }

  .city .city__menu{
    @apply text-xs rounded-md text-white;
    width: calc(100% + 42px);
    background: rgba(35,35,35,0.14);
    backdrop-filter:blur(6px);
    -webkit-backdrop-filter:blur(6px);
    overflow-x:hidden;

}

    .dropdown  {
      @apply relative p-3 rounded-lg;
      background: #00000033;
    }

    .dropdown > svg {
      @apply w-3 h-3;
    }

   .dropdown .dropdownContent {
    @apply flex flex-col absolute right-0 top-12 p-3 rounded-lg whitespace-nowrap;
      backdrop-filter:blur(9px);
      background: #ffffff33;
      z-index: 10;
  }

  .dropdown .dropdownContent > * {
    @apply px-3 py-1 text-white rounded-md font-semibold;
  }

  .dropdown .dropdownContent > *:hover {
    @apply  bg-white text-primary-color;
  }


    .bottomNav{
      @apply flex justify-center  absolute bottom-0 w-full bg-transparent;
      backdrop-filter: blur(9px);
  }
  .bottomNav .nav-link{
      @apply flex items-center grow justify-center   opacity-50 
  }

  .bottomNav .nav-link svg{
    @apply h-6
}
  
  .bottomNav .nav-link.active , .bottomNav .nav-link:hover{
    @apply  opacity-100 ;
  }
  .bottomNav .nav-link .nav-button{
      @apply  flex items-center justify-center
  }
  .bottomNav  .nav-link .nav-button svg{
  }
  
  .bottomNav .nav-link.active svg{
      @apply fill-white
  }
  .bottomNav  .nav-link .nav-button{
      @apply flex items-center justify-center relative;
      height: 4rem;
      width: 100%;

  }

    .bottomNav .nav-link.active .nav-button, .bottomNav .nav-link:hover .nav-button {
      @apply  flex items-center justify-center ;
      background: #00000066;
  }


    .bottomNav .nav-link .nav-button:before{
      content:"";
      -webkit-filter: blur(9px);
      filter: blur(9px);
      transition: all 250ms ease-in;
      
  } 
  
  .bottomNav .nav-link.active .nav-button:before {
      @apply   absolute bg-white z-0;
      width:18px;
      height:30%;
      left:50%;
      top:50%;
      content:"";
      transform: translate(-50%, -50%);
      filter: blur(9px);
      
  }


  .bottomNav .nav-link.active .nav-button:after {
      @apply  absolute z-0 bg-white ;
      content:"";
      transform: translate(-50%, -50%);
      left:50%;
      border-radius: 50px;
      bottom: -2px;
      filter: blur(1px);
      height: 4px;
      width: 10px;
  }

  .topTitle {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff5c;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: var(--font2);
}

  .appContent{
    @apply overflow-auto;
    height: calc(100vh - 164px);
  }

  .homePage{
    display: flex;
    flex-direction: column;
    height: 100%;
}

  .clock .primaryClock{
    @apply  text-7xl font-black text-white;
    font-family:var(--font2);
  }

  .clock .secondaryClock{
    @apply  text-2xl font-thin text-white;
    font-family:var(--font2);
  }

  .vakitCounter .vakit {
    @apply flex content-between items-center;
  }

  .vakitCounter .vakit span {
    @apply text-sm font-light px-3 py-1 rounded-md border border-white lowercase;
  }

  .vakitCounter .vakit span.current {
    @apply bg-green-800 border-green-800;
  }
  .vakitCounter .vakit span.next {
    order:2;
  }
  .vakitCounter .vakit:before {
    @apply block w-full mx-3;
    content:"";
     height: 5px;
     order: 1;
     background-image: radial-gradient(circle at 1px 1px, white 1px, transparent 0);
     background-size: 12px 10px;
  }

  .vakitCounter .counterlabel {
    @apply text-lg font-extralight mt-5 block;
    line-height:1;
  }

  .vakitCounter .counter {
    @apply text-5xl font-extrabold mt-2 block;
    font-family:var(--font2);

  }

  .vakitCounter .kerahat {
    @apply bg-red-800 text-xs py-1 px-2 inline-block rounded-full leading-none;

  }

  .vakitList{
    @apply px-5 py-3 w-full text-white flex justify-between;
    background:rgb(26 26 26);
  }
  .vakitList .vakit{
    @apply text-gray-500 flex flex-col p-1;
  }

  .vakitList .vakit.active{
    @apply text-green-600 border-green-600 border rounded-md;
  }

  .vakitList .vakit.active+.vakit{
    @apply text-white;
  }


  .vakitList .vakit .label{
    @apply text-xs block font-light leading-normal;
  }

  .vakitList .vakit .value{
    @apply text-base block font-extrabold leading-none;
    font-family:var(--font2);
  }

  .anasayfaCalendar {
    display: flex;
    color:white;

}
  
.anasayfaCalendar .calendars {
position: relative;
  flex: 1 1 75%;
  padding: 0 1.5em;
  overflow: hidden;
  
}

.anasayfaCalendar .calendars::before {
  @apply bg-ust-pattern;
position: relative;
background-size: 105%;
content: "";
filter: invert(1);
flex: 1 1 75%;
height: 120%;
left: 0;
padding: 0 1.5em;
position: relative;
position: absolute;
top: 0;
transform: rotate(-5deg);
width: 120%;
z-index: -1;
  
}


.anasayfaCalendar .primaryCalendar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.monthandyear {
  border-top: 20px solid #000000;
  display: flex;
  flex-direction: column;
  flex: 1 1 6em;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
}

.dayName {
  flex: 1 1 100%;
}

.dayName {
  color: #aa252c;
  flex: 1 1 100%;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.2;
  margin: -1.2em 0 0 2.6em;
  text-transform: uppercase;
}

.anasayfaCalendar .primaryCalendar .day {
  border-top: 10px solid;
  color: var(--primary);
  flex: 0 1 1.5em;
  font-family: var(--font2);
  font-size: 3.5em;
  font-weight: 800;
  line-height: 1;
  padding-top: 1rem;
  text-align: center;
}

.secondaryCalendar {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 200;
  margin-top: .5em;
  line-height: 1;
}

.secondaryCalendar b {
  background: var(--primary);
  margin-right: .5em;
  padding: 10px 8px;
  font-weight: 800;
  font-family: var(--font2);
  font-size: 1.2em;
}

.anasayfaCalendar .moon {
  flex: 0 1 100px;
}

.blogList{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.blogList .item .nav-link{
  display: flex;
  position: relative;
  color: white;
  background: transparent;
  font-family: var(--font1);
  margin-bottom: 2em;
  height: 150px;
  font-family: var(--font2);
}

.blogList .item .nav-link:before{
      position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--primary) 100%);
  z-index: 0;
      border-radius: 1em;
      backdrop-filter: brightness(.5);
      -webkit-backdrop-filter: brightness(.5);


}

.blogList .item .title{
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 1.2em;
  z-index: 2;
  font-weight: 700;
  line-height: 1.2;
}

.blogList .item .author {
  background: #000000a8;
  border-radius: 0 0em 1em 0;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1;
  padding: .5rem 1rem;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(8px);
}

.blogList .item img{
      border-radius: 1em;
      width: 100%;
      object-fit: cover;
}


.blogDetails{
  padding: 1em;
  padding-top: 4em;
  color: white;
  font-family: var(--font2);

}
.blogDetails img{
    border-radius: 0.5em;
}

.blogDetails .title{
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2;
  display: block;
  margin: 1em 0 .5em 0;
  padding-left: .5em;
  border-left: 5px solid var(--primary);
}

.blogDetails .author ,.blogDetails .source {
  color: gray;
  margin-bottom:.5em
}
.blogDetails .author svg, .blogDetails .source svg{
    color: white;
    margin-right: 0.5em;
}

.blogDetails .detail{
  padding-top:1em;
  padding-bottom:100px;
  font-size: 1.1rem;
  line-height: 1.3;
}

.blogDetails .detail p{
  padding-bottom:.5em;
  font-weight: 200;
}

.blogDetails b, .blogDetails strong {
  font-weight: 800;
}

}
