@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#ae002e;
  --black:black;
}


@layer components {

  html{
   background: linear-gradient(180deg, var(--primary) 0%, var(--black) 38%);
   height: 100%; 
  }
    body {
      @apply p-0 bg-ust-pattern ;
      height: 100%;

    }

    .topNav{
      @apply p-5;
    }

    #logoGenis{
      height: 34px;
    width: auto;
    }






  }
