@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#ae002e;
  --black:black;
  --font1:"Inter";
  --font2:"Overpass";
}


@layer components {

  html{
   background: linear-gradient(180deg, var(--primary) 0%, var(--black) 38%);
   height: 100%; 
  }
    body {
      @apply p-0 bg-ust-pattern;
      height: 100%;

    }

    .topNav{
      @apply pb-5 pt-6 px-2 flex justify-between;
    }

    #logoGenis{
      height: 36px;
    width: auto;
    margin:10px;
    }

    .city .city__control{
      @apply bg-transparent text-sm;
      min-height:10px;
    }

    .city .city__placeholder, .city .city__single-value{
      @apply text-white;
    }

    .city .city__indicator-separator{
      @apply hidden;
    }

    .city .city__dropdown-indicator{
      padding: 0 5px 0 0;
  }

  .city .city__value-container{
    @apply text-xs;

  }

  .city .city__menu{
    @apply text-xs rounded-md text-white;
    width: calc(100% + 42px);
    background: rgba(35,35,35,0.14);
    backdrop-filter:blur(6px);
    -webkit-backdrop-filter:blur(6px);
    overflow-x:hidden;

}

    .dropdown  {
      @apply relative p-3 rounded-lg;
      background: #00000033;
    }

    .dropdown > svg {
      @apply w-3 h-3;
    }

   .dropdown .dropdownContent {
    @apply flex flex-col absolute right-0 top-12 p-3 rounded-lg whitespace-nowrap;
      backdrop-filter:blur(9px);
      background: #ffffff33;
  }

  .dropdown .dropdownContent > * {
    @apply px-3 py-1 text-white rounded-md font-semibold;
  }

  .dropdown .dropdownContent > *:hover {
    @apply  bg-white text-primary-color;
  }


    .bottomNav{
      @apply flex justify-center  absolute bottom-0 w-full bg-transparent;
      backdrop-filter: blur(9px);
  }
  .bottomNav .nav-link{
      @apply flex items-center grow justify-center   opacity-50 
  }

  .bottomNav .nav-link svg{
    @apply h-6
}
  
  .bottomNav .nav-link.active , .bottomNav .nav-link:hover{
    @apply  opacity-100 ;
  }
  .bottomNav .nav-link .nav-button{
      @apply  flex items-center justify-center
  }
  .bottomNav  .nav-link .nav-button svg{
  }
  
  .bottomNav .nav-link.active svg{
      @apply fill-white
  }
  .bottomNav  .nav-link .nav-button{
      @apply flex items-center justify-center relative;
      height: 4rem;
      width: 100%;

  }

    .bottomNav .nav-link.active .nav-button, .bottomNav .nav-link:hover .nav-button {
      @apply  flex items-center justify-center ;
      background: #00000066;
  }


    .bottomNav .nav-link .nav-button:before{
      content:"";
      -webkit-filter: blur(9px);
      filter: blur(9px);
      transition: all 250ms ease-in;
      
  } 
  
  .bottomNav .nav-link.active .nav-button:before {
      @apply   absolute bg-white z-0;
      width:18px;
      height:30%;
      left:50%;
      top:50%;
      content:"";
      transform: translate(-50%, -50%);
      filter: blur(9px);
      
  }


  .bottomNav .nav-link.active .nav-button:after {
      @apply  absolute z-0 bg-white ;
      content:"";
      transform: translate(-50%, -50%);
      left:50%;
      border-radius: 50px;
      bottom: -2px;
      filter: blur(1px);
      height: 4px;
      width: 10px;
  }

  .appContent{
    @apply overflow-auto;
    height: calc(100vh - 164px);
  }

  .clock .primaryClock{
    @apply  text-7xl font-black text-white;
    font-family:var(--font2);
  }

  .clock .secondaryClock{
    @apply  text-3xl font-thin text-white;
    font-family:var(--font2);
  }

  .vakitCounter .vakit {
    @apply flex content-between items-center;
  }

  .vakitCounter .vakit span {
    @apply text-sm font-light px-3 py-1 rounded-md border border-white lowercase;
  }

  .vakitCounter .vakit span.current {
    @apply bg-green-800 border-green-800;
  }
  .vakitCounter .vakit span.next {
    order:2;
  }
  .vakitCounter .vakit:before {
    @apply block w-full mx-3;
    content:"";
     height: 5px;
     order: 1;
     background-image: radial-gradient(circle at 1px 1px, white 1px, transparent 0);
     background-size: 12px 10px;
  }

  .vakitCounter .counterlabel {
    @apply text-xl font-extralight my-3 block;
  }

  .vakitCounter .counter {
    @apply text-5xl font-extrabold mt-2 block;
    font-family:var(--font2);

  }

  .vakitCounter .kerahat {
    @apply bg-red-800 text-xs py-1 px-2 inline-block rounded-full leading-none;

  }

  .vakitList{
    @apply px-5 py-3 w-full text-white flex justify-between bg-white bg-opacity-10;
  }
  .vakitList .vakit{
    @apply text-gray-500 flex flex-col p-1;
  }

  .vakitList .vakit.active{
    @apply text-green-600 border-green-600 border rounded-md;
  }

  .vakitList .vakit.active+.vakit{
    @apply text-white;
  }


  .vakitList .vakit .label{
    @apply text-xs block font-light leading-normal;
  }

  .vakitList .vakit .value{
    @apply text-base block font-extrabold leading-none;
    font-family:var(--font2);
  }

  .anasayfaCalendar {
    display: flex;
    color:white;

}
  
.anasayfaCalendar .calendars {
position: relative;
  flex: 1 1 75%;
  padding: 0 1.5em;
  overflow: hidden;
  
}

.anasayfaCalendar .calendars::before {
  @apply bg-ust-pattern;
position: relative;
  flex: 1 1 75%;
  padding: 0 1.5em;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  filter: invert(1);
  background-size: 100%;
  transform: rotate(-9deg);
  width: 120%;
  height: 120%;
  z-index: -1;
  
}


.anasayfaCalendar .primaryCalendar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.monthandyear {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.2;
  flex-grow: 2;
}

.dayName {
  flex: 1 1 100%;
}

.dayName {
  flex: 1 1 100%;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 1;
}

.dayName {
  flex: unset; 
  font-size: .8em;
  background: var(--primary);
  color: black;
  padding: 2px 5px;
  margin: 8px 0;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.anasayfaCalendar .primaryCalendar .day {
  border-top: 10px solid;
  color: var(--primary);
  flex: 0 1 1.5em;
  font-family: var(--font2);
  font-size: 3.5em;
  font-weight: 800;
  margin-right: 10px;
  text-align: center;
  line-height: 1.7;
  margin-bottom: -1.5rem;
}

.secondaryCalendar {
  display: flex;
  font-size: 1.4em;
  font-weight: 200;
}

.secondaryCalendar b{
  margin-right:.5em
}

.anasayfaCalendar .moon {
  flex: 0 1 100px;
}




  }
